@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

/* Home style start here  */


.navbar{
    /* display: flex; */
    width: 23%;
    height: 100vh;
    margin-left: 4%;
    /* margin: 0 auto; */
    /* align-items: center; */
    text-align: center;
    position: fixed;
    background-color: #F2F3F7;
    overflow: scroll;
}


    

.navbar img{

    width: 60%;
    /* height: 170px; */
    border-radius: 50%;
    margin: 10% 0;
    
}

.navbar h1{
    font-size: 26px;
    margin-bottom: 3%;
}

.navbar p{
    font-size: 12px;
    margin-bottom: 5%;
    
}
.navbar p a{
    color: #2CA3F2;
}

nav ul li{
    margin: 10px;
    /* display: inline; */
    /* position: relative; */
}

nav a{
    color: black;
    font-size: 12px;
    position: relative;
    /* padding: 5px; */
    
}

nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #2C98F0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    text-align: center;

}

nav a:hover{
    color: #2CA3F2;
}

nav a:hover::after{
    width: 100%;
    
}

nav .activ{
    color: #2CA3F2;
    /* text-decoration: underline; */
}


/* Navbar style end here  */

/* Home style start here  */
.contener{
    width: 69%;
    height: 100vh;
    margin-right: 4%;
    float: right;
    /* padding-bottom: 20%; */
    position: relative;
}

.home__contener{
    width: 100%;
    padding: 180px 0 0 5%;
    height: 100vh;
    margin-bottom: 20%;
    background-image: url(images/img4.jpg);
    background-position: center;
    background-size: cover;
}

.home h1{
    font-size: 50px;
    margin: 10px 0;
}

.home p{
    font-size: 20px;
    margin: 10px 0;
}

.home p a{
    color: #2CA3F2;
}

.home button{
    border: 1px solid black;
    padding: 15px 30px;
    margin-top: 20px;
    letter-spacing: 3px;
    outline: none;
    background-color: white;
    cursor: pointer;
}
/* Home style end here  */


/* About style start here  */
.about__contener{
    width: 100%;
    margin-bottom: 20%;
    /* background: none; */

}

.about__content{
    width: 90%;
    margin: 0 auto;
}

.about span{
    font-size: 10px;
    letter-spacing: 3px;
}

.about h1{
    margin: 3% 0 10% 0;
    font-size: 20px;
    letter-spacing: 3px;
}

.about__contener p{
    font-size: 15px;
    /* letter-spacing: .5px; */
    text-align: justify;
}

.about p span{
    font-size: 15px;
    font-weight: bolder;

}

.about__card{
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.card__body1{
    width: 180px;
    height: 150px;
    border-bottom: 2px solid #2C98F0;
    box-shadow: 0 0 .5px 0 black;
    padding: 20px 20px 30px;
}

.card__body1 .fa-lightbulb{
    font-size: 30px;
    color: #2C98F0;
    left: 0;
    margin-bottom: 20px;
}

.card__body2{
    width: 180px;
    height: 150px;
    border-bottom: 2px solid #EC5453;
    box-shadow: 0 0 .5px 0 black;
    padding: 20px 20px 30px;
}

.card__body2 .fa-earth-americas{
    font-size: 30px;
    color: #EC5453;
    left: 0;
    margin-bottom: 20px;
}

.card__body3{
    width: 180px;
    height: 150px;
    border-bottom: 2px solid #F9BF3F;
    box-shadow: 0 0 .5px 0 black;
    padding: 20px 20px 30px;
}

.card__body3 .fa-database{
    font-size: 30px;
    color: #F9BF3F;
    left: 0;
    margin-bottom: 20px;
}

.card__body4{
    width: 180px;
    height: 150px;
    border-bottom: 2px solid #A84CB8;
    box-shadow: 0 0 .5px 0 black;
    padding: 20px 20px 30px;
}

.card__body4 .fa-mobile-screen{
    font-size: 30px;
    color: #A84CB8;
    left: 0;
    margin-bottom: 20px;
}

.about__tittel{
    background-color: #F9BF3F;
    padding: 30px;
}

.about__tittel h1{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.about__tittel button{
    background: none;
    padding: 0px 10px;
    border: 1px solid black;

}

.about__tittel a{
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
}

/* About style end here  */

/* Services style start here  */

.services__contener{
    width: 100%;
    margin-bottom: 20%;
}
.services__content{
    width: 90%;
    margin: 0 auto;
}

.services p{
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.services h1{
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 10%;
}


.services__card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}


/* body  */
.services__body{
    width: 30%;
    height: 280px;
    text-align: center;
    padding: 0 30px 30px;
    border-bottom: 2px solid #2C98F0;
    box-shadow: 0 0 1px 0 black;

}

.services__body .body__icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C98F0;
    margin: -50px auto 30px;
    border-radius: 50%;
    color: white;
    font-size: 30px;

}

.services__body .body__tittel span{
    font-size: 18px;
    /* margin: 20px 0; */

}

.services__body .body__tittel p{
    font-size: 12px;
    letter-spacing: 1px;
    margin: 30px 0;
    line-height: 20px;
}
/* body  */

/* body1  */

.services__body1{
    width: 30%;
    height: 280px;
    text-align: center;
    padding: 0 30px 30px;
    border-bottom: 2px solid #EC5453;
    box-shadow: 0 0 1px 0 black;

}

.services__body1 .body__icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EC5453;
    margin: -50px auto 30px;
    border-radius: 50%;
    color: white;
    font-size: 30px;

}

.services__body1 .body__tittel span{
    font-size: 18px;
    /* margin: 20px 0; */

}

.services__body1 .body__tittel p{
    font-size: 12px;
    letter-spacing: 1px;
    margin: 30px 0;
    line-height: 20px;
}
/* body1  */

/* body2  */
.services__body2{
    width: 30%;
    height: 280px;
    text-align: center;
    padding: 0 30px 30px;
    border-bottom: 2px solid #F9BF3F;
    box-shadow: 0 0 1px 0 black;

}

.services__body2 .body__icon{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9BF3F;
    margin: -50px auto 30px;
    border-radius: 50%;
    color: white;
    font-size: 30px;

}

.services__body2 .body__tittel span{
    font-size: 18px;
    /* margin: 20px 0; */

}

.services__body2 .body__tittel p{
    font-size: 12px;
    letter-spacing: 1px;
    margin: 30px 0;
    line-height: 20px;
}
/* body2  */

/* Services style end here  */

/* Ranking style start here  */

.ranking{
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url(images/img11.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20%;
}

.ranking__bord{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 5% 5% 7%;
}

.ranking__body{
    width: 20%;
    text-align: center;

}

.ranking__body h1{
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.ranking__body p{
    color: white;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 5px;
}

/* Ranking style end here  */

/* Skill style start here  */

.skill__contener{
    width: 100%;
    margin-bottom: 20%;
}

.skill__content{
    width: 90%;
    margin: 0 auto;
}


.skill span{
    font-size: 10px;
    letter-spacing: 5px;
}

.skill h1{
    font-size: 24px;
    letter-spacing: 5px;
    margin: 10px 0 10%;
}

.skill p{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
}

.skill__tittel{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
}

.skill__body i{
    font-size: 30px;
}

.fa-html5{
    color: #EC5453;
}
.fa-css3-alt{
    color: #2C98F0;
}
.fa-js{
    color: #F9BF3F;
}

.skill__body p{
    font-size: 24px;
    /* color: #A84CB8; */
}

.html span{
    color: #EC5453;
}
.css span{
    color: #2CA3F2;
}
.js span{
    color: #F9BF3F;
}

/* Skill style end here  */


/* Experiences style start here  */

.experience__contener{
    width: 100%;
    margin-bottom: 20%;
}

.experience__content{
    width: 90%;
    margin: 0 auto;
}

.experience__tittel p{
    font-size: 10px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.experience__tittel h1{
    font-size: 24px;
    letter-spacing: 5px;
    margin-bottom: 10%;
}

/* .experience__body{
    display: flex;
    ali
} */

.body__card{
    padding: 20px 20px 40px;
    background-color: #F2F3F7;
    border-radius: 10px;
    margin-bottom: 10px;
}

.body__card .para1{
    display: inline;
    font-size: 24px;
    letter-spacing: 1px;
}

.body__card .para2{
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 35px;

}

/* Experiences style end here  */

/* Work style start here  */

.work__contener{
    width: 100%;
    margin-bottom: 20%;
}

.work__content{
    width: 90%;
    margin: 0 auto;
}

.work p{
    font-size: 10px;
    letter-spacing: 5px;

}

.work h1{
    font-size: 24px;
    letter-spacing: 5px;
    margin: 30px 0 10%;
}

.project__contener{
    margin-bottom: 5%;
    
}

.project__contener a{
    color: black;
    margin-right:20px;

}

.project__contener a:hover{
    color: #2C98F0;
}

.project__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0 20px;
    position: relative;
}

.project__part{
    width: 48%;
    height: 300px;
    background-image: url(images/img10.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    transition: 0.5s;

}

.project__part:hover{
    background: #2C98F0;
}


.project__part1{
    width: 48%;
    height: 300px;
    background-image: url(images/img9.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    transition: 0.5s;

}

.project__part1:hover{
    background: #2C98F0;
}

.project__part2{
    width: 48%;
    height: 300px;
    background-image: url(images/img8.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    transition: 0.5s;

}

.project__part2:hover{
    background: #2C98F0;
}

.project__part3{
    width: 48%;
    height: 300px;
    background-image: url(images/img7.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    transition: 0.5s;

}

.project__part3:hover{
    background: #2C98F0;
}

.project__part4{
    width: 48%;
    height: 300px;
    background-image: url(images/img6.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    transition: 0.5s;

}

.project__part4:hover{
    background: #2C98F0;
    /* transition: 0.5s; */
}

.project__part5{
    width: 48%;
    height: 300px;
    background-image: url(images/img5.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    transition: 0.5s;

}

.project__part5:hover{
    background: #2C98F0;
}

.content__top p{
    margin-bottom: 20px;
    /* transition: 0.5s; */
}

.content__top span{
    font-size: 12px;
}

.content__bottam{
    bottom: 40px;
    position: absolute;
    text-align: center;
}

.content__bottam button{
    margin-right: 10px;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.content__bottam button i{
    font-size: 10px;
    margin: 5px;

}

.load__more{
    text-align: center;
    background-color: #2C98F0;
    padding: 20px 0;
    cursor: pointer;
}

.load__more p{
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;

}

/* Work style end here  */

/* Blog style start here  */

.blog__contener{
    width: 100%;
    margin-bottom: 20%;
}

.blog__content{
    width: 90%;
    margin: 0 auto;
}

.blog  p{
    font-size: 10px;
    font-weight: 300px;
    letter-spacing: 5px;
}

.blog h1{
    font-size: 24px;
    letter-spacing: 5px;
    margin: 30px 0 10%;
}

.blog__card{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__body{
    width: 32%;
    margin-bottom: 5%;
}


.blog__body img{
    width: 100%;
    margin-bottom: 20px;
}


.blog__body span{
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
}

.blog__body h1{
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0;
}

.blog__body p{
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
}

/* Blog style end here  */

/* Contact style start here  */

.contact__contener{
    width: 100%;
    margin-bottom: 20%;
    position: relative;
}

.contact__content{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20%;
}

.contact p{
    font-size: 10px;
    letter-spacing: 5px;
    font-weight: 300;
}

.contact h1{
    font-size: 24px;
    letter-spacing: 5px;
    margin: 30px 0 10%;
}

.contact__here{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20%; */
}

.info{
    width: 100%;
}

.domain{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.domain .img{
    width: 100px;
    height: 100px;
    background-color: #F2F3F7;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.domain i{
    font-size: 30px;
    color: #2C98F0;
}

.domain a{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #2C98F0;
}

.domain p{
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
}

.email{
    width: 100%;

}

.email input{
    width: 100%;
    /* margin-bottom: 10px; */
    padding: 15px;
    background-color: #F2F3F7;
    overflow: hidden;
    border: none;
    outline: none
}

.email input[placeholder], textarea[placeholder]{
    font-size: 15px;
    font-weight: 200;
}

.email div{
    margin-bottom: 10px;
}

.email textarea{
    padding: 10px 20px;
    background-color: #F2F3F7;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 200;

}

.email button{
    padding: 10px 20px;
    border: none;
    overflow: hidden;
    background-color: #2C98F0;
    color: white;
    cursor: pointer;
}
/* Contact style end here  */